@use '../../abstracts';

@include abstracts.make-media-query(768px) {
    //Bannner
    .banner {
        @include abstracts.size(100%, 480px);

        &-heading {
            @include abstracts.font(
                'Roboto-Medium',
                abstracts.$fs-xx-lg,
                abstracts.$white-color
            );
            line-height: abstracts.$secondary-line-height;
        }
    }

    //Who we are
    .who-we-are {
        &-grid {
            @include abstracts.make-grid-items(2, 16px, 24px);
        }
    }

    //Case studies
    .case-studies {
        &-list {
            @include abstracts.make-grid-items(2, 16px, 16px);
        }
    }

    //Strategize Design Develop
    .strategize-design-develop {
        @include abstracts.flex-layout(row, null, null, 16px, null);

        &-heading {
            flex-basis: 30%;
        }
    }

    //Who we work with
    .who-we-work-with {
        @include abstracts.flex-layout(row, null, null, 16px, null);

        &-heading {
            flex-basis: 30%;
        }

        .company {
            flex: 1;

            &-enterprise {
                padding-top: 0;
            }

            &-list {
                @include abstracts.make-grid-items(4, 32px, 32px);
            }

            &-item {
                text-align: left;
            }
        }
    }
}

@include abstracts.make-media-query(992px) {
    //Banner
    .banner {
        @include abstracts.size(100%, 680px);
        justify-content: flex-start;

        &-heading {
            margin-top: 64px;
            @include abstracts.font(
                'Roboto-Medium',
                abstracts.$fs-xxx-lg,
                abstracts.$white-color
            );
            line-height: abstracts.$secondary-line-height;
        }
    }

    //Who we are
    .who-we-are {
        &-heading {
            @include abstracts.flex-layout(row, null, null, 40px, null);

            &-wrapper {
                flex-basis: 50%;
            }
        }

        &-description {
            font-size: abstracts.$fs-md;
        }

        &-grid {
            @include abstracts.make-grid-items(3, 16px, 24px);
        }
    }

    //Case studies
    .case-studies {
        &-list {
            @include abstracts.make-grid-items(3, 16px, 16px);
        }
    }

    //Strategize Design Develop
    .strategize-design-develop {
        &-image {
            @include abstracts.size(644px, auto);
        }
    }
}

@include abstracts.make-media-query(1200px) {
    //Who we are
    .who-we-are {
        &-heading {
            &-wrapper {
                flex-basis: 30%;
            }
        }
    }
}
