@use '../../abstracts';

//Banner
.banner {
    @include abstracts.size(100%, 400px);
    background-image: url('../assets/images/home/webp/home-banner.webp'),
        url('../assets/images/home/png/home-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include abstracts.flex-layout(column, center, center, 8px, null);

    &-heading {
        @include abstracts.font(
            'Roboto-Medium',
            abstracts.$fs-xx-md,
            abstracts.$white-color
        );
        text-align: center;
        line-height: abstracts.$secondary-line-height;
    }

    .play-block {
        @include abstracts.size(60px, 60px);

        .inverted-play-btn {
            display: none;
        }
    }
}

//Who we are
.who-we-are {
    @include abstracts.flex-layout(column, null, null, 60px, null);
    background-image: url('../assets/images/common/vector.webp'),
        url('../assets/images/common/vector.jpg');
    background-repeat: no-repeat;
    background-position: bottom;

    &-heading {
        @include abstracts.flex-layout(column, null, null, 40px, null);
    }

    &-main-heading {
        @include abstracts.font(
            'Roboto-Bold',
            abstracts.$fs-x-lg,
            abstracts.$primary-text-color
        );
    }

    &-underline {
        @include abstracts.size(60px, 4px);
        background-color: abstracts.$primary-text-color;
    }

    &-description {
        @include abstracts.font(
            'Roboto-Regular',
            abstracts.$fs-xx-sm,
            abstracts.$primary-text-color
        );
    }

    &-grid {
        @include abstracts.make-grid-items(1, 16px, null);
    }

    &-item {
        padding: 16px 0;
        border-top: 1px solid abstracts.$who-we-are-border-color;
        @include abstracts.flex-layout(column, null, null, 16px, null);
    }

    &-title {
        @include abstracts.font(
            'Roboto-Bold',
            abstracts.$fs-x-md,
            abstracts.$primary-text-color
        );
    }

    &-content {
        @include abstracts.font(
            'Roboto-Regular',
            abstracts.$fs-xxx-sm,
            abstracts.$primary-text-color
        );
    }
}

//Case studies
.case-studies {
    &-list {
        @include abstracts.make-grid-items(1, 16px, null);
    }

    &-item {
        @include abstracts.size(100%, 300px);
        background-color: abstracts.$case-study-background-color;
        @include abstracts.position(relative);
        overflow: hidden;

        .client-brand {
            @include abstracts.size(280px, 280px);
            @include abstracts.position(absolute, -150px, null, null, -150px);
            border-radius: 50%;
        }

        .client-logo {
            @include abstracts.position(absolute, 65%, null, null, 55%);
            @include abstracts.size(35%, null);
        }

        &:hover {
            .case-studies-image {
                transform: scale(1.2);
                transition: transform 0.3s linear;
            }
        }
    }

    &-heading {
        @include abstracts.position(absolute, null, null, 20px, 20px);
    }

    &-name {
        @include abstracts.font(
            'Roboto-Bold',
            abstracts.$fs-xxx-md,
            abstracts.$primary-text-color
        );
    }

    &-platform {
        @include abstracts.font(
            'Roboto-Regular',
            abstracts.$fs-x-sm,
            abstracts.$primary-text-color
        );
    }

    &-image {
        @include abstracts.size(60%, auto);

        &.bose {
            @include abstracts.position(absolute, 30%, -5%, null, null);
        }

        &.les-mills {
            @include abstracts.position(absolute, 5%, -5%, null, null);
        }

        &.nada {
            @include abstracts.position(absolute, -5%, -5%, null, null);
        }

        &.meez {
            @include abstracts.position(absolute, 25%, 5%, null, null);
        }

        &.ninja-van {
            @include abstracts.position(absolute, 20%, -5%, null, null);
        }

        &.paga {
            @include abstracts.size(50%, auto);
            @include abstracts.position(absolute, 10%, 5%, null, null);
        }

        &.worldroamer {
            @include abstracts.size(50%, auto);
            @include abstracts.position(absolute, 5%, -5%, null, null);
        }

        &.early-bird {
            @include abstracts.size(80%, auto);
            @include abstracts.position(absolute, 5%, -15%, null, null);
        }

        &.kinspire {
            @include abstracts.position(absolute, 5%, -5%, null, null);
        }
    }

    &-link {
        display: block;
        @include abstracts.size(100%, 100%);
    }
}

//Strategize Design Develop
.strategize-design-develop {
    @include abstracts.flex-layout(column, null, null, 60px, null);
    background-image: url('../assets/images/common/vector.webp'),
        url('../assets/images/common/vector.jpg');
    background-repeat: no-repeat;
    background-position: bottom;

    &-heading {
        @include abstracts.flex-layout(column, null, null, 40px, null);
    }

    &-main-heading {
        @include abstracts.font(
            'Roboto-Bold',
            abstracts.$fs-x-lg,
            abstracts.$primary-text-color
        );
        line-height: abstracts.$secondary-line-height;
    }

    &-description {
        @include abstracts.font(
            'Roboto-Regular',
            abstracts.$fs-md,
            abstracts.$primary-text-color
        );
    }

    &-image-wrapper {
        padding-left: 16px;
        @include abstracts.position(relative);
    }

    &-image-frame {
        @include abstracts.position(absolute, -16px, null, null, 0);
        @include abstracts.size(95%, 100%);
        background-color: #e1e6e8;
        border-radius: 8px;
        z-index: 1;
    }

    &-image {
        @include abstracts.size(100%, auto);
        @include abstracts.position(relative);
        z-index: 2;
    }
}
