@use '../abstracts/variables';
@use '../abstracts/mixins';

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container {
    @extend .container-fluid;
}

@each $breakpoint, $dimension in variables.$grid-breakpoints {
    $max-width: map-get(variables.$container-max-widths, $breakpoint);
    $tech-stack-item: map-get(variables.$tech-stack-items, $breakpoint);

    @include mixins.make-media-query($dimension, $breakpoint == xs) {
        .container {
            max-width: $max-width;
        }

        .tech-stack-list {
            @include mixins.make-grid-items($tech-stack-item);
        }
    }
}

@each $case-study, $color in variables.$case-study-colors {
    .client-brand-#{$case-study},
    .result-section.#{$case-study} {
        background-color: $color;
    }
}
