@mixin make-media-query($dimension, $bypass: false) {
    @if $bypass {
        @content;
    } @else {
        @media (min-width: $dimension) {
            @content;
        }
    }
}

@mixin make-grid-items($row-items, $row-gap: null, $column-gaps: null) {
    display: grid;
    grid-template-columns: repeat($row-items, 1fr);
    row-gap: $row-gap;
    column-gap: $column-gaps;
}

@mixin size($width: null, $height: null) {
    width: $width;
    height: $height;
}

@mixin flex-layout(
    $direction: null,
    $alignItems: null,
    $justifyContent: null,
    $gap: null,
    $wrap: null
) {
    @if ($direction == null) {
        flex-direction: row;
    } @else {
        flex-direction: $direction;
    }
    align-items: $alignItems;
    justify-content: $justifyContent;
    gap: $gap;
    flex-wrap: $wrap;
}
