//Color
$primary-text-color: #0a2630;
$secondary-text-color: #333;
$white-color: #fff;
$red-color: #f24a51;

$bose-color: #000;
$les-mills-color: #01ac83;
$nada-color: #1a1a1a;
$meez-color: #3c5df6;
$ninja-van-color: #e00;
$paga-color: #f7931e;
$worldroamer-color: #c74fb7;
$early-bird-color: #04adbf;
$kinspire-color: #e9d461;
