$font-path: '../assets/fonts';

@font-face {
    font-family: 'Roboto-Thin';
    src: url('#{$font-path}/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('#{$font-path}/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('#{$font-path}/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('#{$font-path}/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('#{$font-path}/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-ExtraBold';
    src: url('#{$font-path}/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}
