//Color
$primary-text-color: #0a2630;
$secondary-text-color: #333;
$description-text-color: #849297;
$company-heading-color: #666;
$who-we-are-border-color: #bfbfbf;
$case-study-background-color: #f7f7f7;
$footer-content-color: #1c2331;
$footer-copyright-color: #161c27;
$white-color: #fff;
$red-color: #f24a51;

$case-study-colors: (
    bose: #000,
    les-mills: #01ac83,
    nada: #1a1a1a,
    meez: #3c5df6,
    ninja-van: #e00,
    paga: #f7931e,
    worldroamer: #c74fb7,
    early-bird: #04adbf,
    kinspire: #e9d461,
);

//Box-shadow
$primary-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);

//Height
$header-height: 60px;

//Font size
$fs-xxx-sm: 16px;
$fs-xx-sm: 18px;
$fs-x-sm: 20px;
$fs-md: 22px;
$fs-x-md: 24px;
$fs-xx-md: 28px;
$fs-xxx-md: 32px;
$fs-lg: 40px;
$fs-x-lg: 46px;
$fs-xx-lg: 60px;
$fs-xxx-lg: 70px;
$fs-xxxx-lg: 80px;
$fs-xl: 100px;
$fs-x-xl: 120px;
$fs-xx-xl: 162px;

//Line height
$primary-line-height: 1.6;
$secondary-line-height: 1.2;

//Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

//Container
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
);

//Tech stack items
$tech-stack-items: (
    xs: 2,
    sm: 2,
    md: 3,
    lg: 4,
    xl: 5,
);
