@use '../../abstracts';

.header {
    @include abstracts.position(fixed, 0, 0, null, 0);
    background-color: abstracts.$white-color;
    z-index: 9999;
    box-shadow: abstracts.$primary-box-shadow;

    &-content {
        @include abstracts.flex-layout(null, center, space-between, null, null);
        @include abstracts.size(null, abstracts.$header-height);

        .navbar {
            @include abstracts.size(100%, 100%);
            @include abstracts.flex-layout(
                null,
                center,
                space-between,
                null,
                null
            );

            &-list {
                display: none;
                @include abstracts.size(null, 100%);

                &.toggle {
                    padding: 32px 0;
                    @include abstracts.flex-layout(
                        column,
                        flex-start,
                        null,
                        32px,
                        null
                    );
                    @include abstracts.position(absolute, 100%, 0, null, 0);
                    @include abstracts.size(100%, auto);
                    background-color: abstracts.$white-color;

                    .navbar-item {
                        // padding: unset;
                        @include abstracts.size(100%, 100%);
                    }

                    .navbar-link {
                        display: block;
                        text-align: left;
                    }

                    .navbar-item-underline {
                        top: 32px;
                        margin-left: 16px;
                        @include abstracts.size(60px, 6px);
                    }
                }
            }

            &-item {
                @include abstracts.size(null, 100%);
                @include abstracts.position(relative);

                &-underline {
                    display: none;
                    @include abstracts.position(absolute, null, 0, 0, 0);
                    @include abstracts.size(100%, 8px);
                }

                &.active {
                    .navbar-item-underline {
                        display: block;
                    }
                }
            }

            &-link {
                @include abstracts.font(
                    'Roboto-Bold',
                    abstracts.$fs-xxx-sm,
                    abstracts.$primary-text-color
                );
                @include abstracts.size(null, 100%);
                @include abstracts.flex-layout(
                    null,
                    center,
                    center,
                    null,
                    null
                );
                // border-bottom: 4px solid transparent;

                &:hover {
                    opacity: 0.6;
                    transition: opacity linear 0.3s;
                }

                &.active {
                    border-bottom: 4px solid abstracts.$primary-text-color;
                }
            }
        }
    }
}
