<section class="contact">
    <form id="contact-us" class="contact-form container section-layout">
        <hgroup class="contact-form-heading">
            <h3 class="contact-form-sub-heading">Have an idea?</h3>
            <h4 class="contact-form-main-heading">Contact us to get started</h4>
        </hgroup>
        <div class="contact-form-content">
            <div class="contact-form-grid">
                <div class="contact-form-group">
                    <label class="contact-form-label" for="name">
                        Name
                    </label>
                    <input type="text" class="contact-form-input" id="name" name="name" />
                </div>
                <div class="contact-form-group">
                    <label class="contact-form-label" for="email">
                        Email
                    </label>
                    <input type="email" class="contact-form-input" id="email" name="email" />
                </div>
                <div class="contact-form-group">
                    <label class="contact-form-label" for="phone">
                        Phone (optional)
                    </label>
                    <input type="tel" class="contact-form-input" id="phone" name="phone" />
                </div>
            </div>
            <div class="contact-form-group">
                <label class="contact-form-label" for="tell-us-about-your-product">
                    Tell us about your product
                </label>
                <textarea class="contact-form-textarea" name="tell-us-about-your-product"
                    id="tell-us-about-your-product" cols="30" rows="10"></textarea>
            </div>
            <div class="contact-form-group">
                <label class="contact-form-label" for="how-did-you-hear-about-agility">
                    How did you hear about Agility?
                </label>
                <input type="text" class="contact-form-input" name="how-did-you-hear-about-agility"
                    id="how-did-you-hear-about-agility" />
            </div>
            <div class="g-recaptcha" data-sitekey="6LeccQgoAAAAAELT2ZFytfqkSmaSAujRSl-2xCLm"></div>
            <button id="submit-btn" class="submit-btn" type="submit">Submit</button>
        </div>
    </form>
</section>