<header class="header">
    <div class="header-content container">
        <a href="/" class="logo-link">
            <img width="108px" height="28px" src="../assets/images/common/agility-logo.webp" alt="logo" loading="lazy">
        </a>
        <div class="menu-mobile">
            <img width="24px" height="24px" src="../assets/icons/common/menu-bar.svg" alt="menu-mobile" loading="lazy">
        </div>
        <nav class="navbar">
            <a href="/" class="navbar-link">Home</a>
            <a href="/about-agility-io" class="navbar-link">About</a>
            <a href="/software-development-ux-services" class="navbar-link">Services</a>
            <a href="#contact-us" class="navbar-link">Contact</a>
        </nav>
    </div>
</header>